export(epmrob)
export(IVProbitRob)
export(rob.control)
export(xweights)
export(epmrob.vcov)
import(stats)
importFrom(MASS, rlm, cov.rob, psi.huber)
importFrom(robustbase, glmrob, glmrobMqle.control)
S3method(coef, epmrob)
S3method(print, epmrob)
S3method(summary, epmrob)
S3method(print, summary.epmrob)
